{% extends 'base.html.twig' %}
{% block body %}
<h2>Liste de toutes les salles </h2>
<table class="table table-striped">
    <thead>
        <tr>
            <td>
                ID
            </td>
            
        </tr>
    </thead>

</table>

{% endblock %}
